*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins'
}

/* for fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(217, 217, 217);
    font-size: 20px;
    padding: 1rem 3rem;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: all 2s;
}
nav ul li{
    list-style-type: none;
    cursor: pointer;
}
nav ul li:hover{
    color:  rgb(20 184 166);
}
 span{
    color: rgb(20 184 166);
}
nav input{
    display: none;
}
header button , .hero button , form button{
    font-size: 20px;
    padding: 0.5rem 1rem;
    border: none;
    background-color:rgb(20 184 166);
    color: white;
    border-radius: 5px;
}
nav label{
    display: none;
    cursor: pointer;
}
nav{
    transition: all 1s;
}

/* For transition effect */
button{
    transition: all 0.5s;
    cursor: pointer;
}
button:hover{
    background-color: #fff;
    color:rgb(20 184 166) ;
    
}

:checked + ul{
    display: block;
}

.sectionOneWrapper{
    background-image: url(/images/HeroImage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
}

.hero h1{
    font-size: 3rem;
    line-height: 4rem;
}
.hero p {
    font-weight: 300;
    max-width: 800px;
    font-size: 18px;
    margin-top: 1rem;
}
.hero{
    padding: 5rem 3rem 0 3rem;
    text-align: start;
}
.line{
    border: 2px solid rgb(79 181 185 );
    width: 3rem;   
}
.lineWrapper{
    height: 3rem;
    display: flex;
    align-items: center;
}

.hero button{
    margin-top: 2rem;
    margin-bottom: 5rem;
}

#floatingBlock{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    height: 5rem;
    border-radius: 10px;
    align-items: center;
    width: 80vw;
    position: absolute;
    bottom: 10px;
    bottom: -2.5rem;
    right: 10vw;
    background-color: rgb(255 247 227);
    min-height: 7rem;
    box-shadow: 0px 0px 11px 0px  #cfcfcf;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
}

#sectionOne{
    position: relative;
}
#sectionTwo{
    margin: 6rem 3rem 0 3rem;
}

#sectionTwo h2{
    font-size: 30px;
    font-weight: 600;
}

#sectionTwo p{
    color: rgb(75 85 99);
    margin-top: 1rem;
    max-width: 800px;
}

#sectionThree h2{
    margin-top: 3rem;
}

.sectionThreeBoxWrapper{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

#sectionThree{
    padding:  0 3rem;
}

.sectionThreeBox{
    border: 2px solid rgb(194, 194, 194);
    padding: 1rem;
    border-radius: 10px;
    height: 14rem;
    overflow: hidden;
}

.sectionThreeBox h3{
    font-size: 24px;
    margin-bottom: 5rem;
    margin-top: 3rem;
    font-weight: 600;
}
.sectionThreeBox .lineWrapper{
    height: 3px;
}

.sectionThreeBoxInvisible{
    border: 1px solid white;
}

#sectionFour{
    padding: 0 3rem;
    margin-top: 4rem;
}

#sectionFour h2{
    margin-bottom: 2rem;
    font-size: 30px;
    font-weight: 600;
}
.card{
    display: flex;
    margin-bottom: 3rem;
    align-items: center;
}
.card div{
    padding-left: 10px;
}
.card div h3{
    font-size: 24px;
    color: rgb(37, 144, 148);
    padding-right: 20px;
}
.card div p{
    font-size: 16px;
    margin-top: 20px;
}

#sectionFourCardOne img{
    width: 65%;
    height: fit-content;
    border-radius: 10px;
}

#cardTwo {
    text-align: right;
    
}
#cardTwo p , #cardTwo h2{
    padding-right:20px ;
}

#sectionFive{
    padding: 0 3rem;
}
.sectionFiveBox:hover{
    transform: scale(1.02);
}
#sectionFive h2{
    margin: 2rem 0;
    font-size: 30px;
    font-weight: 600;
}

#sectionFive p{
    margin: 2rem 0;
    color: rgb(85, 84, 84);
}

.sectionFiveBox{
    border: 1px solid rgb(255 208 89);
    background-color: rgb(255 247 227);
    padding: 20px;
    border-radius: 20px;
    transition: all 0.5s;
}

.SectionFiveImgWrapper{
    border: 2px solid rgb(255 208 89);
    background-color: #fff;
    width: fit-content;
    padding: 1rem 1.2rem;
    border-radius: 10px;
}

.sectionFiveBoxH2{
    font-size: 20px !important;
    margin: 1rem 0 !important;
}

.sectionFiveBoxP{
    font-family: 16px !important;
    margin: 1rem 0 !important;
}

.sectionFiveBoxWrapper{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

#sectionSix{
    padding: 3rem;
    text-align: right;
    margin-top: 3rem;
}

#sectionSix h2{
    font-size: 35px;
    font-weight: 600;
}



#sectionSeven{
    display: flex;
    padding: 3rem;
    justify-content: space-between;
    border: 1px solid rgb(203, 202, 202);
    margin: 0 3rem;
    border-radius: 10px;
    background-color: #FCFCFC;
}
#sectionSeven img{
    width: 56%;
    margin-left: 20px;
}

form , form div{
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: space-evenly;
    gap: 10px;
}
form{
    width: -webkit-fill-available;;
}

form {
    color: #444444;
    
}
form input , textarea{
    height: 40px;
    padding: 10px;
}

textarea{
    height: 130px;
}

form button{
    height: 50px;
    font-size: 18px;
}

.footerWrapper{
    display: grid;
    grid-template-columns: 2fr 4fr;
    padding: 3rem;
    border-top: 1px solid rgb(178, 177, 177);
    border-bottom: 1px solid rgb(178, 177, 177);
    margin-top: 5rem;
    font-size: 14px;
    color: #4f4e4e;
    font-weight: 300;
}

.footerTwo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.footerTwo ul li:first-child{
    font-weight: 400;
    color: #000000;
    margin-top: 0.5rem;
    font-size: 16px;
   
}

.footerTwo ul li{
    list-style-type: none;
}

.lastDiv{
    padding: 0 3rem;
}
.lastDiv ul{
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 1rem 0;
    justify-content: center;
}

.lastDiv ul li{
    list-style-type: none;
    color: #4f4e4e;
    font-weight: 300;
}
#emailAddress ul li , #mobileNo ul li{
    color: #4f4e4e;
    font-size: 14px;
}
li{
    cursor: pointer;
}

.lastDiv ul li:hover{
    color: #000000;
}
#mobileNo{
    display: grid;
    grid-template-columns: auto auto;
}

#emailAddress{
    display: grid;
    grid-template-columns: auto auto;
}

#contactUs{
    width: 70%;
}

.horizontalLine{
    height: 1.5rem;
    border: 1px solid rgb(92, 91, 91);
}

#aboutUs li:first-child{
    margin-bottom: 8px;
}
#ourServices{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
@media (max-width : 1177px){
    .card{
        display: block;
    }

    .card img{
        width: 100% !important;
        margin: 3rem auto;
    }
    #sectionSeven img{
        display: none;
    }
    #sectionFour h2{
        margin-bottom: 0;
        
    }
}

@media (max-width : 950px){

    .sectionThreeBoxWrapper {
        grid-template-columns: 1fr 1fr;
    }

    .card{
        margin-bottom: 5rem;
    }
    .hero h1{
        font-size: 35px;
    }
    .sectionThreeBoxInvisible{
        display: none;
    }
}

@media (max-width : 700px) {
   
    .hero p{
        display: none;

    }
    .hero h1{
        text-align: center;
    }
    .hero{
        justify-content: center;
        display: flex;
        flex-direction: column;
    
    }
    .sectionThreeBoxWrapper {
        grid-template-columns: 1fr ;
    }

    .sectionThreeBoxWrapper h3{
        margin-bottom: 10rem;
    }
    .sectionThreeBox{
        padding: 30px; 
    }
    .sectionOneWrapper {
        background-position-x: left;
    }

    .hero button{
        width: fit-content;
    }
    .hero{
        justify-content: center;
        align-items: center;
    }

    .sectionThreeBoxInvisible{
        display: none;
    }
    .sectionFiveBoxWrapper{
        display: block;
       
    }
    .sectionFiveBox{
        margin-bottom: 20px;
    }

    #floatingBlock{
        padding: 1rem;
    }

    #floatingBlock{
        font-size: 15px;
    }
    
}

@media (max-width : 500px){
    section{
        padding: 10px !important;
       
    }
    #sectionTwo {
        margin: 10rem 1rem 0 1rem;
    }
    #floatingBlock{
        height: 9rem;
    }
    .hero button{
        margin-bottom: 7rem;
    }
    .footerTwo{
        display: block;
    }
    #sectionSeven{
        margin: 0 1rem;
    }
    .footerWrapper{
        padding: 3rem 1rem;
    }
    .lastDiv{
        padding: 0 1rem;
    }
    #cardTwo{
        margin-bottom: 0 !important;
    }
}

@media (max-width : 350px){
    #floatingBlock{
        font-size: 10px;
    }
}
@media (max-width : 750px){
    #floatingBlock{
        flex-wrap: wrap;
    }
}

@media (max-width : 990px){
    .footerWrapper{
        grid-template-columns: auto;
        gap: 3rem;
    }
    .footerTwo{
        border-top: 1px solid rgb(149, 149, 149);
        padding-top: 1rem;
    }

    .footerTwo ul{
        padding: 0;
    }
}

@media (max-width : 800px){
    #mobileNo , #emailAddress{
        grid-template-columns: auto;
    }
    #hamburger{
        display: block;
    }
    nav ul{
        display: none;
    }
   
    nav label{
        display: block;
    }
    nav ul{
        position: absolute;
        z-index: 1;
        background-color: #fff;
        top: 15vh;
        right: 3rem;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 4px rgb(129, 129, 129);
    }
    .horizontalLine{
        display: none;
    }
    #floatingBlock{
        font-size: 18px;
    }

    nav ul li{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}